.box{
  background-color: blue;
  color: white;
  padding: 20px;
}

.green{
  background-color: green;
  color: white;
}

.red{
  background-color: red;
  color: yellow;

}

.blue{
  background-color: blue;
  color: white;

}
