div {
  border: 1px solid #EEEEEE;


}

.box {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid green;

}

.green-box{
  background-color: green;
  color: white;


}

.red-box{
  background-color: red;
  color: yellow;


}

.blue-box{
  background-color: blue;
  color:#EEEEEE;

}
