<h1>{{mainTitle }}</h1>

<div>
 <app-formulario-post></app-formulario-post> <br>
 <app-segundo-formulario></app-segundo-formulario> <br>
 <app-tercer-formulario></app-tercer-formulario>
</div>

<hr/>
Change this page title by:
<input type="text"[(ngModel)]= "mainTitle"/>
<button>Change title</button>
<hr/>

<div>
  <div>This box should come after the lines - with a red border</div>
  <div>And here should appear what I type between asterisks:{{textAsteriks}}</div>
  <input type="text"[(ngModel)]="textAsteriks"/>
  <button (click)="changeTextColor()">Click to change text color</button>
</div>
